[package]
name = "ogcapi-services"
version = "0.1.2"
description = "Server implementation of several OGC API Standards."
license = "MIT OR Apache-2.0"
repository = "https://github.com/camptocamp/ogcapi"
edition = "2021"
include = ["/src", "/assets"]

[features]
default = ["common"]
full = ["default", "features", "edr", "processes", "styles", "tiles", "stac"]

common = []
features = []
edr = ["ogcapi-types/edr"]
processes = ["schemars"]
styles = []
tiles = []

stac = ["ogcapi-types/stac", "ogcapi-drivers/stac", "ogcapi-drivers/s3"]

[dependencies]
anyhow = "1.0.58"
axum = { version = "0.5.13", features = ["headers", "multipart"] }
clap = { version = "3.2.14", features = ["derive", "env"] }
dotenv = "0.15.0"
hyper = { version = "0.14.20", features = ["full"] }
once_cell = "1.13.0"
openapiv3 = "1.0.1"
schemars = { version = "0.8.10", optional = true }
serde = "1.0.140"
serde_json = "1.0.82"
serde_yaml = "0.8.26"
serde_qs = "0.10.1"
thiserror = "1.0.31"
tokio = { version = "1.20.0", features = ["full"] }
tower = "0.4.13"
tower-http = { version = "0.3.4", features = ["compression-gzip", "catch-panic", "cors", "request-id", "sensitive-headers", "trace"] }
tracing = "0.1.35"
tracing-subscriber = { version="0.3.15", features = ["env-filter"] }
url = { version = "2.2.2", features = ["serde"] }

ogcapi-types = "0.1.0"
ogcapi-drivers = { version = "0.1.3", features = ["postgres"] }
# ogcapi-types = { path = "../ogcapi-types" }
# ogcapi-drivers = { path = "../ogcapi-drivers", features = ["postgres"] }

[dev-dependencies]
geojson = "0.23.0"
uuid = { version = "1.1.2", features = ["serde", "v4"] }

ogcapi = { path = "../ogcapi", default_features = false, features = ["import"] }
