name: CI

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Dependencies
        run: sudo apt-get update && sudo apt-get install -y build-essential pkg-config libclang-dev libgdal-dev

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        run: docker compose up db minio minio-mc -d

      - name: Build
        run: rustup update stable && rustup default stable && cargo build --workspace --all-targets

      - name: Format
        run: cargo fmt --all -- --check

      - name: Clippy
        run: cargo clippy --workspace --all-features --all-targets -- -D warnings

      - name: Test
        run: cargo test --workspace --all-features --all-targets

  ogc-compliance:
    name: Validate OGC API Compliance
    runs-on: ubuntu-latest

    steps:
      - name: Dependencies
        run: sudo apt-get update && sudo apt-get install -y libgdal-dev

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        run: docker compose up db -d

      - name: Start service
        run: |
          cargo run -p demo-service &
          npx wait-on http://localhost:8484/

      - name: Validate service
        uses: geo-engine/ogc-validator@v2
        with:
          service-url: http://localhost:8484/
          ogc-api-processes: true
          ogc-api-processes-container-tag: 1.3-teamengine-6.0.0-RC2
          echoprocessid: echo
          # cf. <https://github.com/opengeospatial/ets-ogcapi-processes10/issues/106>
          ogc-api-processes-ignore: |-
            testJobCreationInputValidation
            testJobCreationInputRef
          ogc-api-features: true
          ogc-api-features-container-tag: 1.9-teamengine-6.0.0-RC2
          ogc-api-features-ignore: |-
            featureOperation
            validateFeatureResponse
