name: CI

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  cite-validation:
    name: OGC Cite Validation (Features)
    runs-on: ubuntu-latest

    services:
      db:
        image: docker.io/postgis/postgis
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_DB: ogcapi
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
      # cite:
      #   image: docker.io/ogccite/ets-ogcapi-features10
      #   ports:
      #     - 8080:8080

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Load
        run: cargo run -p data-loader -- --input data/ne_110m_admin_0_countries.geojson --collection countries
        env:
          DATABASE_URL: "postgresql://postgres:password@localhost:5432/ogcapi"

      - name: Run
        run: RUNNER_TRACKING_ID="" && cargo run -p cite-service &
        env:
          APP_HOST: "0.0.0.0"
          APP_PORT: "8484"
          DATABASE_URL: "postgresql://postgres:password@localhost:5432/ogcapi"

      - name: Check running service
        run: |
          until [ \
            "$(curl -s -w '%{http_code}' -o /dev/null "http://localhost:8484/")" \
            -eq 200 ]
          do
            sleep 5
          done

      - name: Downgrade click
        run: pip install ogc-cite-runner "click<8.2.0"

      - name: Validate
        run: docker run -d --network host docker.io/ogccite/ets-ogcapi-features10 && sleep 20 && ogc-cite-runner execute-test-suite http://localhost:8080/teamengine ogcapi-features-1.0 --suite-input iut http://host.docker.internal:8484
      #   uses: OSGEO/ogc-cite-runner@v0.3.0
      #   with:
      #     test_suite_identifier: ogcapi-features-1.0
      #     test_session_arguments: >-
      #       iut=http://host.docker.internal:8484

