name: CI

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  cite-validation:
    name: OGC Cite Validation (Features)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        run: docker compose up --build -d

      - name: Check running containers
        run: docker ps -a

      - name: Build
        run: docker exec ogcapi cargo run -p data-loader -- --input data/ne_110m_admin_0_countries.geojson --collection countries

      - name: Run
        run: docker exec -d ogcapi cargo run -p cite-service

      - name: Validate
        uses: OSGEO/ogc-cite-runner@v0.3.0
        with:
          test_suite_identifier: ogcapi-features-1.0
          test_session_arguments: iut=http://host.docker.internal:8484
